@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
  font-family: 'Nanum Gothic', sans-serif;
  background-color:#efefef;
}
html,body{
  width:100%;
  height:100%;
  margin:0;
}
@font-face{
    font-family: 'JetBrains Mono';
    src:url("/css/font/JetBrainsMono-Medium.woff") format('woff');
}
@font-face{
    font-family: 'D2Coding';
    src:url("/css/font/D2Coding.woff") format('woff');
}
@font-face{
  font-family: Maplestory;
  src: url("/css/font/Maplestory_Light.ttf");
}
@font-face{
  font-family: Maplestory;
  src: url("/css/font/Maplestory_Bold.ttf");
  font-weight: bold;
}
@font-face{
  font-family: 'NSR';
  src: url("/css/font/NanumSquareRoundB.ttf");
}
*::-webkit-scrollbar {
    width: 0.7em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

*::-webkit-scrollbar-thumb {
    background-color: #4b4b4b33;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}
*::-webkit-scrollbar-track {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}
a {
color:black;
text-decoration: none;
}
#top_bar .logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: translateY(-5px);
}
#search>input{
  margin-bottom: 10px;
  width:230px;
  height: 25px;
  font-size:15px;
  font-family: 'NSR';
  font-weight: bold;
  border-radius: 13px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border: none;
  padding-left: 13px;
}
input:focus {outline:none;}
button:focus {outline:none;}
button{cursor:pointer;}
#top_bar{
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #da2127;
  z-index: 10000;
}
#title{
  font-family: NotoSansCJKkr;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-right: 76px;
  position: absolute;
  top:50%;
  left:calc((100% - 1440px) / 2);
  transform: translateY(-50%);
  transition:all 0.5s;
}
#menu_container{
  position: absolute;
  top:50%;
  left: calc((100% - 1320px) / 2 + 310px);
  transform: translateY(-50%);
  transition:all 0.5s;
  display: flex;
}
#search{
  position: absolute;
  top:50%;
  right:calc((100% - 1320px) / 2);
  transform: translateY(-50%);
  height: 31px;
  transition:all 0.5s;
}
.top_menu{
  display: inline-block;
  position: relative;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding:10px 0;
}
.detail_menu{
  background-color: #ba1b20;
  display: none;
  text-align: left;
  width: 200px;
  position: absolute;
  left:0;
  top:49px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  font-size: 17px;
  border-radius: 0 0 10px 10px;
  transition:all 0.5s;
  font-weight: 300;
}
.detail_menu>a{
  color: #ffffff;
  display: block;
  padding: 5px;
  font-family: Maplestory;
}
.detail_menu>a:nth-last-child(1){
  border-radius: 0 0 10px 10px;
}
.detail_menu>a:hover{
  background-color: #da2127;
}
.top_menu:hover>.detail_menu{
  display:block;
}
.top_menu:hover{
  background-color: #ba1b20;
}
.menu_name{
  border-left:solid 1px #fff;
  padding:0 10px;
}
.menu_name>a{
  color:white;
  font-size: 20px;
}
#menu_search{
  right:0;
  position: absolute;
}
#main_container{
  height: calc(100% - 50px);
  position: relative;
  top: 50px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  left:50%;
  transform:translateX(-50%);
  overflow:overlay;
}
@media (max-width:1440px){
  #title{
    top:50%;
    left: 10px;
    transform: translateY(-50%);
  }
  #menu_container{
    top:50%;
    left: 310px;
    transform: translateY(-50%);
  }
  #main_container{
    width:100%;
  }
}
@media (max-width:1100px){
  #top_bar{
    height: 90px;
  }
  #title{
    top:50%;
    left:10px;
    transform: translateY(-50%) translateY(-21px);
  }
  #menu_container{
    top:50%;
    left:0px;
    transform: translateY(-50%) translateY(21px);
  }
  #main_container{
    height: calc(100% - 90px);
    top: 90px;
  }
}
@media (max-width:785px){
  #top_bar{
    height: 90px;
  }
  #title{
    transform: translateY(-50%) translateY(-15px);
  }
}
