<div id="top_bar">
  <a id="title" href="/">경북대학교 사물함</a>
  <div id="menu_container">
    <div class="top_menu">
      <div class="menu_name" style="border:none;">
        <a href="/apply/">신청</a>
      </div>
    </div>
    <div class="top_menu" style="left:-5px;">
      <div class="menu_name">
        <a href="/search/">조회</a>
      </div>
    </div>
    <div class="top_menu" style="left:-10px;">
      <div class="menu_name">사물함 정보</div>
      <div class="detail_menu">
        <a href="/locker/?floor=-1">지하1층</a>
        <a href="/locker/?floor=1">1층</a>
        <a href="/locker/?floor=3">3층</a>
      </div>
    </div>
  </div>
</div>
