@media screen and (max-width:992px) {
    /* 스마트폰 가로 */
    .step{
        margin: 0 0 0 3%;
        width:17%;
        text-align: left;
    }
    .step>div{
        display: inline-block;
    }
    .circle{
        border-radius: 100%;
        position: relative;
    }
    .circle>*{
        font-size: 2rem;
        font-weight: bold;
        color:#fff;
    }
    .label{
        word-break: keep-all;
        color:#fff;
        font-size: 1rem;
        font-weight: bold;
    }
    .step:not(.doing){
        transform: scale(0.9);
        opacity: 0.8;
    }
}

@media screen and (min-width:992px) {
    /* 데스크탑 */
    .step{
        width:10%;
        text-align: center;
    }
    .step>div{
        display: inline-block;
    }
    .circle{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 10px solid #8A8A88;
        position: relative;
    }
    .circle>div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: bold;
        color:#8A8A88;
    }
    .label{
        word-break: keep-all;
        color:#8A8A88;
        font-size: 25px;
        font-weight: bold;
    }
    .doing *,.done>*{
        border-color: #DA2127;
        color: #DA2127 !important;
    }
    .done span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:3rem;
        font-weight: bold;
        color:#fff;
    }
    .done>.circle{
        border-color: #DA2127;
        background-color: #DA2127 !important;
    }
}