
@media screen and (max-width:992px) {
    /* 스마트폰 가로 */
    .header{
        height: 20vh;
        position:relative;
        background-color: #DA2127;
        margin-bottom: 5vh;
    }
    .header>a>*{
        position:absolute;
        left: 50%;
        transform:translate(-50%);
    }
    .header img{
        top: 4vh;
        height: 8vh;
    }
    .logo{
        color:#fff;
        top:13vh;
        font-size: 4vh;
        line-height: 4vh;
    }
}

@media screen and (min-width:992px) {
    /* 데스크탑 */
    .header{
        height: 60px;
        padding-left:12px;
        padding-top:12px;
        margin-bottom:5vh;
        background-color: #DA2127;
    }
    .header>a{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .header img{
        height: 36px;
        margin-right:10px;
    }
    .logo{
        color:#fff;
        font-size: 36px;
        line-height: 36px;
    }
}

@media screen and (min-width:1200px){
    /* 큰 데스크탑 */
    .header>a{
        margin-left:calc(50vw - 600px);
    }
}