.header{
    background-color: #da2127;
    height: 20vh;
    position:relative;
}

@media screen and (max-width:992px) {
    /* 스마트폰 가로 */
    .header>a>*{
        position:absolute;
        left: 50%;
        transform:translate(-50%);
    }
    .header img{
        top: 4vh;
        height: 8vh;
    }
    .logo{
        color:#fff;
        top:13vh;
        font-size: 4vh;
        line-height: 4vh;
    }
}

@media screen and (min-width:992px) {
    /* 데스크탑 */
    .header{
        height: calc(85px + 5vh);
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 5vh;
    }
    .header>a{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .header img{
        height: 65px;
    }
    .logo{
        color:#fff;
        font-size: 65px;
        line-height: 65px;
    }
}

@media screen and (min-width:1200px){
    /* 큰 데스크탑 */
}