.input{
    position: relative;
}

.input.error>input{
    border: 5px solid #DA2127;
}

.input>input{
    box-sizing: border-box;
    width: 80vw;
    height: 3rem;
    margin-bottom: 4vh;
    background: #F1F1F1;
    border: 5px solid #F1F1F1;
    border-radius: 0.5rem;
}

.right>input{
    padding-right: 60px;
}

.button{
    position:absolute;
    bottom: calc(4vh + 0.5rem);
    width: 50px;
    height: 2rem;
    outline: none;
    border:none;
    color:#fff;
    font-weight: bold;
    background: #DA2127;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    word-break: keep-all;
}

.complete{
    position: absolute;
    bottom: calc(4vh + 0.5rem);
    width: 50px;
    font-size: 1.8rem;
    height: 2rem;
    color:#34a853;
}

.button:disabled{
    background: #8A8A88;
}

@media screen and (max-width:992px) {
    /* 스마트폰 가로 */
    .input>label{
        display: block;
        text-align: left;
        margin-top: 1vh;
        padding-left: 10vw;
        font-weight: bold;
    }
    .button{ 
        left:calc(90vw - 60px);
    }
    .complete{
        left:calc(90vw - 3rem);
    }
}

@media screen and (min-width:992px) {
    /* 데스크탑 */
    .right{
        left:25px;
    }
    .button{
        position:relative;
        top:0;
        right:60px;
    }
    .input>input{
        width: 50vw;
    }
    .input>label{
        font-weight: bold;
        margin-right: 10px;
        width: 4rem;
        text-align: right;
    }
    .complete{
        position:relative;
        top:5px;
        right:3rem;
    }
}

@media screen and (min-width:1200px) {
    /* 큰 데스크탑 */
    .input>input{
        width: 600px;
    }
}